/* h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.headers{
  background-color:#666;
  border:1px solid #7f8c8d;
  color:#ffffff;
  margin:0;
  font-size:0.9em;
  text-align:center;
  font-weight:700;
  font-family:Verdana,Geneva,Tahoma,sams-serif;
}
.centrealign{
  background-color:#fff;
  border:1px solid #7f8c8d;
  color:#116622;
  margin:0;
  font-size:0.9em;
  text-align:centre;
} */


.grid-container{
  /* position: absolute;  */
  display: grid;
  grid-template-columns: auto auto auto auto;
 left:0%;
 width:100%;
 top:10%;
}

