<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Daily Rydes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="nav">
    <ul class="navbar-nav">
      <li >
        <a class="btn btn-info btn-sm" routerLink="home">  <span class="fa fa-car"></span> Rydes
         
        </a>
      </li>
    </ul>
   
      <!-- <li >
        <a class=" btn btn-info btn-sm" routerLink="login"> <span class="fa fa-shopping-cart"></span>Shop Offers</a>
      </li>

      <li class="nav-item dropdown " ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>User</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="uploadimage">Upload Image</a>
          <a class="dropdown-item" href="phonelogin">Login</a>
          <a class="dropdown-item" href="#">Offer Availed</a>
        </div>
      </li>
      <li class="nav-item dropdown " ngbDropdown>
        <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Filter</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="">Liked</a>
          <a class="dropdown-item" routerLink="maincontent">MainContent</a>
          <a class="dropdown-item" href="#">Offer Availed</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> 
    <ul class="nav navbar-nav navbar-right">
      <li>
          <a  class="btn btn-info btn-sm" (click)="logout()">
              <span class="fa fa-sign-out"></span> Log out
            </a>
      </li>
    </ul> -->
  </div>
</nav>